<html>
<!-- Adapted from the Certifications.html UI design -->
	<head>
		<title>Certifications</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if(dowhat == 'insert') {
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				//document.getElementById('edit').style.display = 'none';
				//document.getElementById('delete').style.display = 'none';

			} else if(dowhat == 'all') {
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				//document.getElementById('edit').style.display = 'block';
				//document.getElementById('delete').style.display = 'block';
			} else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				//document.getElementById('edit').style.display = 'none';
				//document.getElementById('delete').style.display = 'none';
			}
		}
		function newCertification() { showform('insert'); }
		function browseCertifications() { showform('browse'); }
		function showAll() { showform('all'); }
	</script>
	</head>

<body onload="browseCertifications()">
	
	<h1>B&B Ski School</h1>
	<h2>Certifications Page</h2>
	<!--Links to other pages-->
	<header>
		<p><button><a href="http://flip1.engr.oregonstate.edu:8021/">Back to Home Page</a></button></p>
		<nav>
            <button><a href="http://flip1.engr.oregonstate.edu:8021/certifications">Certifications</a></button>
            <button><a href="http://flip1.engr.oregonstate.edu:8021/customers">Customers</a></button>
            <button><a href="http://flip1.engr.oregonstate.edu:8021/instructors">Instructors</a></button>
            <button><a href="http://flip1.engr.oregonstate.edu:8021/lessons">Lessons</a></button>
	    </nav>
    </header>

        <!-- browse -->
        <div id="browse">
            <!--
            <p><a href="#" onClick="showAll()">Display all forms</a> </p>
            -->
            <button><a href="#" onClick="newCertification()">Add a new Certification</a></button>
            <table border="1" cellpadding="5">
           <!-- Access data tuple passed from app.py --> 
           
           <!--BROWSE-->
           {% if data %}
           <thead>
             <tr>
               <!-- Iterate through each key in the first entry to get the column name -->
                         {% for key in data[0].keys() %}
               
                         <!-- Create a <th> tag with the key inside of it, this will be our header row -->
               <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
           
                         <!-- End of this for loop -->
                         {% endfor %} 
                     </tr>
            
                     <tbody>
                      <!-- Now, iterate through every item in data -->{% for item in data %}
                          <tr>
                            <!-- Then iterate through every key in the current item dictionary -->
                                        {% for key in item.keys() %}
            
                            <!-- Create a <td> element with the value of that key in it -->
                            <td> {{item[key]}} </td> 
                                        {% endfor %}

                          </tr> 
                                    {% endfor %} 
                            {% endif %} 
                    </table>   
              <p>&nbsp;</p>
        </div>         


        <!--INSERT-->
        <div id="insert">
            <!-- form to INSERT new data into Certificatons-->
            <form id="insertCertification" action="/certifications" method="post">
                <legend><strong>Add Certification</strong></legend>
                <fieldset>
                    <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
                    <label for="make">Certification name:</label>
                    <input type="text" class="form-control" id="certName" name="certName" pattern="[A-Za-z0-9]{1,}" placeholder="ski3" required>
                </fieldset>

                <!-- Create 'Add Certification' and 'Cancel' buttons -->
                <input type="submit" value="Add Certification" name="Add_Certification" class="btn btn-primary" style="margin:.5rem;">
                <input class="btn" type="button" value="Cancel" onClick="browseCertifications()"> 
            </form>
        </div>


</body>
</html>