<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BBSInstructors</title>
        <link rel="stylesheet" href="style.css">
        <script language="JavaScript">
            function showform(dowhat) {
                /*
                * four DIVS: browse, insert, update, delete
                * this function sets one visible the others not
                */
                if (dowhat == 'insert'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'block';
                    document.getElementById('update').style.display = 'none';
                    document.getElementById('delete').style.display = 'none';
                }
                else if (dowhat == 'update'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'block';
                    document.getElementById('delete').style.display = 'none';
                }
                else if (dowhat == 'delete'){
                    document.getElementById('browse').style.display = 'none';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'none';
                    document.getElementById('delete').style.display = 'block';
                }
          else if (dowhat == 'all'){
                    document.getElementById('browse').style.display = 'block';
                    document.getElementById('insert').style.display = 'block';
                    document.getElementById('update').style.display = 'block';
                    document.getElementById('delete').style.display = 'block';
                }
                else { //by default display browse
                    document.getElementById('browse').style.display = 'block';
                    document.getElementById('insert').style.display = 'none';
                    document.getElementById('update').style.display = 'none';
                    document.getElementById('delete').style.display = 'none';
                }
            }
        function newInstructor() { showform('insert'); }
        function updateInstructor(pid) { showform('update'); }
        function deleteInstructor(pid) { showform ('delete'); }
        function browseInstructor() { showform ('browse'); }
        function showAll() { showform ('all'); }
    </script>
    </head>
    <body onload="browseInstructor()">
        <h1>B&B Ski School</h1>
        <h2>Instructors Page</h2>
        <!--Links to other pages-->
        <header>
  <p><button><a href="http://127.0.0.1:8028/">Back to Home Page</a></button></p>
   <nav>
    <button><a href="http://127.0.0.1:8028/certifications">Certifications</a></button>
    <button><a href="http://127.0.0.1:8028/customers">Customers</a></button>
    <button><a href="http://127.0.0.1:8028/instructors">Instructors</a></button>
    <button><a href="http://127.0.0.1:8028/lessons">Lessons</a></button>
  </nav>

        <div id="browse">
            <p><a href="#" onClick="showAll()">Display all forms</a> </p>
            
            <button><a href="#" onClick="newInstructor()">Add a new Instructor</a></button>
            
            <!-- browse -->
            
            <table border="1" cellpadding="5">
              <tr>
                <th>instructorID</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>instructEmail</th>
                <th>startDate</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              <tr>
                <td align="right" >01</td>
                <th>Douglas</th>
                <th>Bender</th>
                <th>benderd@oregonstate.edu</th>
                <th>2017-12-01</th>
                <td><a href="#" onClick="updateInstructor('this.instructorID')">Edit</a></td>
                <td><a href="#" onclick="deleteInstructor('this.instructorID')">Delete</a></td>
              </tr>
              <tr>
                <td align="right" >02</td>
                <th>Adriel</th>
                <th>Bustamante</th>
                <th>bustamad@oregonstate.edu</th>
                <th>2020-11-15</th>
                <td><a href="#" onClick="updateInstructor('this.instructorID')">Edit</a></td>
                <td><a href="#" onclick="deleteInstructor('this.instructorID')">Delete</a></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            </div>
            
            <!-- insert -->
            
            <div id="insert">
                <form method="POST" id="addPlanet">
                    <legend><strong>Add Instructor</strong></legend>
                      <fieldset class="fields">
                        <label> Instructor Name </label> <input type="text" name="instructorName">
            
                  </fieldset>
                      <input class="btn" type="submit" id="addPerson" value="Add Instructor">
                      <input class="btn" type="button" value="cancel" onClick="browseInstructor()">
                </form> 
            </div>
            <p>&nbsp;</p>
            
            <!-- update -->
            
            <div id="update">
                <form method="POST" id="updateInstructor">
                    <legend><strong>Update Instructor</strong></legend>
                      <fieldset class="fields">
                      <input type="hidden" name="instructorID" id="updateInstructorID" value="1">
                      <label> ID: </label> 1
                        <label> New Instructor Name </label> <input type="text" name="instructorName" value="Ski3">
                  </fieldset>
                      <input class="btn" type="submit" id="UpdateSavePerson" value="Save New Instructor Name">
                      <input class="btn" type="button" value="cancel" onClick="browseInstructor()">
                </form> 
            </div>
            <p>&nbsp;</p>
            
            
            <!-- delete -->
            
            <div id="delete" style="display: block">
              <form method="POST" id="deleteInstructor">
                  <legend><strong>Delete Instructor</strong></legend>
                      <fieldset class="fields">
                      <p>Are you sure you wish to delete the following?</p>

                      <!--NEED TO UPDATE THIS SO THAT ACTUAL InstructorID/NAME IS POPULATED-->
                      <input type="hidden" name="instructorID" id="deleteInstructorID" value="1">
                      <label><strong>ID:</strong></label>1<label><strong>Instructor Name</strong> Ski11</label> 
                        
                </fieldset>
                <input class="btn" type="submit" id="deleteInstructor" value="Delete Instructor">
                      <input class="btn" type="button" value="cancel" onClick="browseInstructor()">
              </form> 
            </div>
    </body>
</html>