<html>
<head>
    <title>BBSki</title>
</head>
<body>
    <h1>B&B Ski School</h1>
    <p>Welcome to the Bender & Bustamante Ski School Database Site. Here you can view all of the certifications our instructors can have, our list of customers, who we have on staff as instructors, and which lessons we have on the books.</p>
</body>
</html>
<header>
  <p><button><a href="http://flip1.engr.oregonstate.edu:8021/">Back to Home Page</a></button></p>
   <nav>
    <button><a href="http://flip1.engr.oregonstate.edu:8021/certifications">Certifications</a></button>
    <button><a href="http://flip1.engr.oregonstate.edu:8021/customers">Customers</a></button>
    <button><a href="http://flip1.engr.oregonstate.edu:8021/instructors">Instructors</a></button>
    <button><a href="http://flip1.engr.oregonstate.edu:8021/lessons">Lessons</a></button>
  </nav>
</header>